.user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  font-family: fantasy;
  font-size: 40px;
  margin: 0 15px;
}

.user-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.student-id {
  margin-top: -10px;
  margin-left: 15px;
}

.fixed-details {
  display: flex;
  flex-direction: column;
}

.user-data {
  display: flex;
  flex-direction: row;
}

.reward-level {
  margin-top: -15px;
  margin-left: 15px;

}