.login-form {
  max-width: 300px;
  padding: 0 20px;
}

.login-input {
  margin: 10px 0;
}

.login-form-action {
  display: flex;
  text-align: center;
}

.ant-form-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.ant-form-item .username-input{
  margin-bottom: 15px;
}

/* small phone */
@media screen and (max-width: 321px) {
  .login-form-action {
    margin-bottom: 0;
  }
}
