.question-list {
  margin: 0 30px;
}

.additional {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.45);
}

.disabled-delete {
  cursor: not-allowed;
  color: rgb(210, 206, 206) !important;
}

