.question-list {
  margin: 0 30px;
}

.additional {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.45);
}

.disabled-delete {
  cursor: not-allowed;
  color: rgb(210, 206, 206) !important;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.questions-list {
  margin-left: 105px;
}

.selected-question{
  width: 50%;
}

@media screen  and (max-width: 425px){
  .questions-wrapper {
    flex-direction: column-reverse;
  }
  .questions-list{
  margin-left: 50px;
}
.selected-question{
  width: 100%;
}
}